*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(gambar/bgloginn) no-repeat;
    background-size: cover;
    background-position: center;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #67eef8;
    padding: 1px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px;
}

.Logo {
    color: #233a3e;
    text-decoration: none;
    font-size: 2.0em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
}

.Logo span {
    color: #096282e1;
}

p {
    font-size: 15px;
    font-style: italic;
}

.group {
    display: flex;
    align-items: center;
}

header ul
{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li {
    list-style: none;
}

header ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header ul li a:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.Login {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 10px;
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

form{
    display: flex;
    flex-direction: column;
}

.Login h1 {
    font-size: 36px;
    text-align: center;
}

.Login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px;
    margin-left: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: aliceblue;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 1px 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btnn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px #232323;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 15px;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

